/* common */
body {
    width: 100%;
    margin: auto;
}

body::before {
    content: '';
    background-image: url("../image/bgimg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.wrap {
    width: 1000px;
    margin: auto;
}

a {
    text-decoration: none;
    color: #000;
    display: block;
}

input, button, textarea {
    display: block;
}

p {
    display: inline;
}

.center {
    width: 1000px;
    height: 70px;
    display: flex;
    margin: auto;
    position: relative;
}

/* nav-bar */
.nav-bar {
    width: 100%;
    height: 140px;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #eeeeee;
}

.nav-bar .center .mainPage {
    width: 50px;
}

.nav-bar .center .mainPage > img {
    width: 100px;
    height: 100%;
}

.nav-bar .center .title {
    width: 340px;
    position: absolute;
    font-size: 50px;
    font-weight: bold;
    top: 12px;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'Black And White Picture', sans-serif;
}

.nav-bar .center .title > a {
    color: #eee;
    text-align: center;
    color: cornflowerblue;
}

.nav-bar .center .main_page {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 80px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.nav-bar .center .main_page > a {
    margin: 10px 0;
    padding: 0 20px;
    font-size: 25px;
    position: relative;
}

.nav-bar .center .main_page > a:hover {
    text-decoration: underline;
}

.nav-bar .center .main_page > a::before {
    content: '';
    height: 30px;
    border-right: 1px solid #b4b2b2;
    position: absolute;
    top:0;
    left:0;
}

.nav-bar .center .main_page > a:first-child::before {
    content: '';
    display: none;
}


.nav-bar .center .main_menu {
    display: flex;
    position: absolute;
    right: 10px;
    top: 0;
}

.nav-bar .center .main_menu a {
    margin: auto;
    font-size: 15px;
    color: #444;
    padding: 15px;
    position: relative;
}

.nav-bar .center .main_menu a:hover {
    text-decoration: underline;
}

.nav-bar .center .main_menu a::before {
    content: '';
    border-right: 1px solid #777;
    height: 15px;
    position: absolute;
    right: 0;
}

.nav-bar .center .main_menu a:nth-child(2)::before {
    content: '';
    display: none;
}


/* login form */
.join-form {
    width: 500px;
    height: 600px;
    background-color: cornflowerblue;
    position: relative;
    top: 200px;
    margin: auto;
}

.join-form .title {
    display: block;
    text-align: center;
    padding: 30px 0 35px 0;
    color: #fed;
    font-size: 25px;
    border-bottom: 1px solid #fed;
}

.join-form #wrongId, #wrongPw {
    color: #fed;
    text-align: center;
    font-size: 15px;
}

.join-form input {
    display: block;
    margin: 10px auto auto auto;
    width: 90%;
    height: 60px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #999999;
    padding-left: 20px;
}

.join-form #id {
    margin : 30px auto;
}

.join-form #pw {
    margin : 30px auto;
}

.join-form #wrongId {
    position: relative;
    bottom: 20px;
    left: 30px;
    font-weight: bold;
}

.join-form #wrongPw {
    position: relative;
    top:10px;
    left:30px;
    font-weight: bold;
}

.join-form #join {
    width: 90%;
    margin: 30px auto;
    height: 50px;
    background-color: yellowgreen;
    border: 0;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 30px;
}
/**/