/* common */

body {
    width: 100%;
    margin: auto;
}

/*body::before {*/
/*    content: '';*/
/*    background-image: url("../image/bgimg3.jpg");*/
/*    background-repeat: repeat;*/
/*    background-attachment: scroll;*/
/*    background-size: cover;*/
/*    opacity: 1;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*}*/

.wrap {
    width: 1000px;
    margin: auto;
}

a {
    text-decoration: none;
    color: #000;
    display: block;
}

input, button, textarea {
    display: block;
}

.center {
    width: 1000px;
    height: 70px;
    display: flex;
    margin: auto;
    position: relative;
}

.hide-out {
    display: block !important;
}

.hide-in {
    display: none !important;
}

.hidden {
    display: none;
}

.opacity-on {
    opacity: .4;
    pointer-events: none;
}

.opacity-off {
    opacity: 1 !important;
    visibility: visible !important;
}

.show {
    opacity: 1 !important;
}

/* nav-bar */
.nav-bar {
    width: 100%;
    height: 140px;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #eeeeee;
}

.nav-bar .center .mainPage {
    width: 50px;
}

.nav-bar .center .mainPage > img {
    width: 100px;
    height: 100%;
}

.nav-bar .center .title {
    width: 340px;
    position: absolute;
    font-size: 50px;
    font-weight: bold;
    top: 12px;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'Black And White Picture', sans-serif;
}

.nav-bar .center .title > a {
    color: #eee;
    text-align: center;
    color: cornflowerblue;
}

.nav-bar .center .main_page {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 80px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Hi Melody', cursive;
}

.nav-bar .center .main_page > a {
    margin: 10px 0;
    padding: 0 20px;
    font-size: 25px;
    position: relative;
    transition: .2s;
}

.nav-bar .center .main_page > a:hover {
    transform: scale(1.1)
}

.nav-bar .center .main_page > a::before {
    content: '';
    height: 24px;
    border-right: 1px solid #b4b2b2;
    position: absolute;
    top: 0;
    left: 0;
}

.nav-bar .center .main_page > a:first-child::before {
    content: '';
    display: none;
}


.nav-bar .center .main_menu {
    display: flex;
    position: absolute;
    right: 10px;
    top: 0;
}

.nav-bar .center .main_menu a {
    margin: auto;
    font-size: 15px;
    color: #444;
    padding: 15px;
    position: relative;
}

.nav-bar .center .main_menu a:hover {
    text-decoration: underline;
}

.nav-bar .center .main_menu a::before {
    content: '';
    border-right: 1px solid #777;
    height: 15px;
    position: absolute;
    right: 0;
}

.nav-bar .center .main_menu a:nth-child(3)::before {
    content: '';
    display: none;
}

.nav-bar .center .main_menu a:nth-child(4)::before {
    content: '';
    display: none;
}

.review {
    width: 60%;
    max-width: 800px;
    height: 550px;
    position: fixed;
    border: 3px solid #6495EDFF;
    border-radius: 5px;
    margin: auto;
    left: 0;
    right: 0;
    top: 250px;
    transition: .5s;
    visibility: hidden;
    opacity: 0;
    background-color: #fff;
    z-index: 20;
}

.review #reviewTitle, #reviewMemo, #reviewURL {
    width: 80%;
    height: 50px;
    text-align: center;
    left: 0;
    right: 0;
    margin: 20px auto;
    opacity: 1;
    background-color: cornflowerblue;
    border: 0;
    transition: opacity .5s;
    border-radius: 3px;
}

#reviewTitle::placeholder, #reviewMemo::placeholder, #reviewURL::placeholder {
    color: #444;
    font-weight: bold;
    padding-top: 150px;
}

.review #reviewMemo {
    height: 300px;
}

.review .upload_review {
    margin: auto;
    cursor: pointer;
    background-color: cornflowerblue;
    border: 0;
    width: 150px;
    height: 40px;
    border-radius: 10%;
}

.review .material-icons {
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
}

.review_button {
    width: 120px;
    max-width: 200px;
    height: 80px;
    position: fixed;
    bottom: 50px;
    right: 0;
    left: 0;
    margin: auto;
    background-color: cornflowerblue;
    border: none;
    border-radius: 15%;
    cursor: pointer;
    z-index: 20;
    transition: .5s;
    font-size: 24px;
    font-family: 'Hi Melody', cursive;
}

.review_button:hover {
    transform: scale(1.4);
}


/*book review*/
.book-review {
    width: 1200px;
    max-width: 1200px;
    margin: 150px auto;
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    border-left: 3px solid #b3c2e7;
    border-right: 3px solid #b3c2e7;
    border-radius: 10%;
    position: relative;
    left: -100px;
    transition: 1s;
}

.book-review .book-review-info {
    width: 1000px;
    text-align: center;
    justify-content: center;
    margin: auto auto 15px auto;
    background: linear-gradient(to right, white 0%, cornflowerblue 50%, white 100%);
    line-height: 1.5;
    border-radius: 10%;
    font-family: 'Hi Melody', cursive;
    font-size: 20px;
    cursor: default;
}

.book-review .book-review-contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book-review .userSelect {
    width: 20%;
    height: 300px;
    border: 1px solid #999;
    border-radius: 10%;
    margin: 15px;
    cursor: pointer;
    box-sizing: border-box;
    justify-content: center;
    transition: .5s;
}

.book-review .userSelect:hover {
    transform: scale(1.1);
    /*z-index:10;*/
}

.book-review .userSelect .book_title {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.book-review .userSelect .book_img {
    width: 180px;
    height: 230px;
    position: relative;
    left: 0;
    right: 0;
    margin: auto 30px;
}

.book-review .userSelect .book_reviewTitle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-bottom: 10px;
}

.book-review .userSelect > img {
    width: 200px;
}

.book-review #userReview {

}

.book-review #userSelect_click {
    position: fixed;
    z-index: 30;
    width: 50%;
    height: 50%;
    background-color: #fff;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: none;
}

.book-review #userSelect_click .select_close {
    background-color: cornflowerblue;
    cursor: pointer;
    width: 100px;
    height: 40px;
    margin: auto;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
    color: #fed;
    border: 0;
}

.modal-image {
    width: 230px;
    height: 330px;
}

#modal .userbook-close-btn {
    display: block;
    cursor: pointer;
    font-size: 40px;
    position: absolute;
    top: 0;
    right: 0;
}

.modal-hide {
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}

/*.container {*/
/*    width: 80%;*/
/*    margin-top: 140px;*/
/*    padding-left: 100px;*/
/*}*/

.title {
    text-align: center;
    margin-top: 10px;
}

.book-box-bg {
    width: 1200px;
    text-align: center;
    display: block;
    margin: 150px auto;
    padding: 100px 0;
    transition: .5s;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    border-left: 1px solid cornflowerblue;
    border-right: 1px solid cornflowerblue;
    border-radius: 10%;
}

.book-box-bg .book-box-info {
    position: absolute;
    top: -8px;
    left: 0;
    right: 0;
    font-size: 80px;
    font-family: 'Hi Melody', cursive;
    background: linear-gradient(to right, white 0%, cornflowerblue 50%, white 100%);
    text-shadow: 6px 6px 6px gray;
    color: #eee;
    transform: scale(0.8);
}

.book-box {
    width: 240px;
    height: 320px;
    text-align: center;
    display: block;
    border: 1px solid #999;
    border-radius: 10%;
    float: left;
    margin: 50px 28px;
    cursor: pointer;
    overflow: hidden;
    transition: .5s;
}

.book-box:hover{
    transform: scale(1.1);
}

.book-box > img {
    width: 180px;
    height: 240px;
}

.section {
    padding: 1rem 1.5rem;
    max-width: 750px;
    margin: auto;
}

.is-sparta {
    color: #0000FF !important;
}

.button.is-sparta {
    background-color: #148CFF;
    border-color: transparent;
    color: #fff !important;
}

.button.is-sparta.is-outlined {
    background-color: transparent;
    border-color: #148CFF;
    color: #148CFF !important;
}

.modal-content {
    width: 600px;
    max-width: 80%;
}

.image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.btn-addbook {
    width: 20%;
    height: 80px;
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 20px;
}

.modal-text-margin {
    margin: 10px;
}

#modal.modal-overlay {
    position: fixed;
    top: 200px;
    margin: auto;
}

#modal .modal-window {
    background-color: snow;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    width: 1000px;
    height: 610px;
    padding: 10px;
    position: relative;
}

#modal .title {
    font-size: 30px;
    color: black;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

#modal .content {
    margin: auto;
    /*margin-top: 20px;*/
    padding: 0px 10px;
    text-shadow: 1px 1px 2px gray;
    color: black;
    text-align: center;
    float: left;
    position: absolute;
    top: 50px;
}

#modal .bestseller-close-btn {
    display: block;
    margin: auto;
    margin-top: 30px;

    border-radius: 20px;
    background: #1AAB8A;
    color: #fff;
    border: none;
    border-radius: 20px;
    height: 40px;
    font-size: 1.6em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

#modal .review {
    width: 50%;
    height: 500px;
    background-color: blueviolet;

    float: left;
}

.hidden {
    display: none;
}

.modal-float {
    float: left;
    width: 50%;
    margin: auto;
    padding-left: 50px;
}

.modal-review-container {
    width: 48%;
    height: 90%;
    background-color: lightcyan;
    position: absolute;
    top: 40px;
    right: 0;
    overflow: scroll;
}

.modal-review-input {
    width: 428px;
    height: 40px;
    margin:5px;
    border: 1px solid #1AAB8A;
    border-right: 0;
    box-sizing: border-box;
    transition: .2s;
}

.modal-review-input:focus {
    border-radius: 3px;
    outline: 3px solid #1AABBA;
}
.modal-review-input::placeholder {
    color: #1AAB8A;
    padding-left: 10px;
}

#send_review {
    background-color: #1AABBA;
    position: relative;
    right:-433px;
    top: -45px;
    border: 1px solid #1AAB8A;
    border-left: 0;
    height: 40px;
    box-sizing: border-box;
    font-weight: bold;
    cursor: pointer;
}

.modal-review-textbox {
    width: 100%;
    color: black;
    background-color: white;
    border-width: 1;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

