<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <!--  open graph  -->
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="bookReview"/>
    <meta property="og:title" content="모두의 책 리뷰"/>
    <meta property="og:description" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>

    <!-- css reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
          integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    {#  SweetAlert  #}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!--  jquery  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!--  css & js -->
    <link rel="stylesheet" href="../static/css/main.css"/>

    <script defer src="../static/js/main.js"></script>

    {#  google-fonts-BnW-HM  #}
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Hi+Melody&display=swap"
          rel="stylesheet"/>

    {#  favicon  #}
    <link rel="icon" href="../static/image/favicon4.png"/>

    {#  material-icons  #}
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">

    <title>모두의 책 리뷰</title>
</head>
<body>
<div class="wrap">

    <div class="nav-bar">
        <div class="center">
            <div class="title">
                <a href="/">모두의 책 리뷰</a>
            </div>
            <a class="logo_img1" href="/">
                <img src="../static/image/logo3.png" alt="로고이미지"/>
            </a>
            <a class="logo_img2" href="/">
                <img src="../static/image/logo2.png" alt="로고이미지"/>
            </a>
            <div class="main_page">
                <a class="bestS" href="/bestSeller">베스트셀러</a>
                <a class="dp_none" href=""></a>
                <a class="prefer" href="/">추천리스트</a>
            </div>
            <div class="main_menu">
                <a class="login_no" href="/login">로그인</a>
                <a class="login_yes" href="javascript:void(0)">{{ user_id }}님 환영합니다.</a>
                <a class="join_mem login_no" href="/joinMem">회원가입</a>
                <a class="join_mem login_yes" href="/">로그아웃</a>
            </div>
        </div>

    </div>

    <div class="review">
        <input type="text" placeholder="제목" id="reviewTitle"/>
        <textarea type="text" placeholder="등록하고싶은 책의 리뷰를 작성해주세요." id="reviewMemo"></textarea>
        <input type="text" placeholder="등록하고싶은 책의 URL을 작성해주세요." id="reviewURL"/>

        <button class="upload_review">등록하기!</button>
        <span class="material-icons review_close">edit_off</span>
    </div>
    <button class="review_button" href="javascript:void(0)">책 등록하기</button>


    <div class="book-review">
        <div class="book-review-info">회원님들께서 직접 추천해주시는 책들입니다.<br>추천해주신 이유가 궁금하시다면 클릭!</div>
        <div class="book-review-contents">

            {% for row in rows %}

                {% set id = row['id'] %}
                {% set title = row['title'] %}
                {% set image = row['image'] %}
                {% set desc = row['desc'] %}
                {% set url = row['url'] %}
                {% set reviewMemo = row['reviewMemo'] %}
                {% set reviewTitle = row['reviewTitle'] %}
                <div class="userSelect" id="book{{ loop.index }}" onclick="select_userbook(this.id)">
                    <img class="book_img" src="{{ image }}"/>
                    <div class="book_title">{{ title }}</div>
                    <hr>
                    <div class="book_reviewTitle">{{ desc }}</div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="modal" class="modal-overlay modal-hide">
        <div class="modal-window">
            <div class="modal-float">
                <div class="content">
                    <div class="title">
                        <h4 id="modal_title">책이름</h4>
                    </div>
                    <div>
                        <img id="modal_img_url" class="modal-image" src="">
                        <div class="modal-bookinfo">
                            <p id="modal_author" class="modal-text-margin">저자</p>
                            {#                            <p id="modal_publisher" class="modal-text-margin">출판사</p>#}
                            {#                            <p id="modal_publishdate" class="modal-text-margin">출간일</p>#}
                        </div>
                    </div>
                </div>
                <div class="review">
                    <div>
                        <div>유저이름</div>
                        <div>리뷰내용</div>
                        <input id="reviews" class="input" type="text">
                    </div>
                </div>
            </div>
            <div class="modal-float">
                <div class="modal-review-container">
                    <div id="modal-reviews">
                        <div>
                            <h2 class="modal-userreivew-title">
                                <span id="review_title">제목</span>
                            </h2>
                            {#                                <p id="review_title">제목</p>#}
                        </div>
                        <div>
                            <p class="modal-userreivew-content" id="review_content">내용</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="delete_button" onclick="delete_book()">책 삭제하기</div>
            <div style="clear: both"></div>

            <span class="material-icons userbook-close-btn">edit_off</span>
        </div>
    </div>
</div>

</body>
</html>